version 17.1R2.7;
system {
    host-name vMX-2;
    root-authentication {
        encrypted-password "$6$RqkTy3/2$E7dTBdJ.7iJFsXFQJy3J8vvTvRTFZL1t/H6m3AWio0M.qBi49iCGmzZqmV1ydkmUJoDD/0YVRGZ7Dxh./RVwU/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$RqkTy3/2$E7dTBdJ.7iJFsXFQJy3J8vvTvRTFZL1t/H6m3AWio0M.qBi49iCGmzZqmV1ydkmUJoDD/0YVRGZ7Dxh./RVwU/"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        telnet;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
chassis {
    fpc 0 {
        lite-mode;
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.254.0.42/24;
            }
        }
    }
}
